In [1]:
from API import KEY, URL
from pandas import DataFrame, merge, to_datetime, concat
from requests import get
from json import dumps
from datetime import datetime

In [2]:
def extract_player_game_data(season):
    print(f'{datetime.now()} [API] QUery Init')
    try:
        api_page = 0
        api_error = False
        while not api_error:
            api_page += 1
            qry = f'{URL}playerperfs/NBA/?key={KEY}&season={str(season)}&max=1000&page={api_page}'
            api_data = get(qry).json()
            
            if 'success' in api_data.keys():
                if api_page == 1:
                    game_df = DataFrame(api_data['performances'].values())
                    print(f'{datetime.now()} [API|Game_Data] Page:{api_page} >> Record Ct:{len(game_df)}') 
                else:
                    api_df = DataFrame(api_data['performances'].values())
                    game_df = concat([game_df, api_df], ignore_index=True)
                    print(f'{datetime.now()} [API|Game_Data] Page:{api_page} >> Record Ct:{len(game_df)}')
    except:
        print(f'{datetime.now()} [API|Game_Data] Completed >> Records:{game_df}')
        game_df.info()
        return game_df

In [3]:
df = extract_player_game_data(season=2024)

2024-04-18 00:32:34.956579 [API] QUery Init
2024-04-18 00:32:38.629988 [API|Game_Data] Page:1 >> Record Ct:1000
2024-04-18 00:32:42.044434 [API|Game_Data] Page:2 >> Record Ct:2000
2024-04-18 00:32:45.496340 [API|Game_Data] Page:3 >> Record Ct:3000
2024-04-18 00:32:48.705880 [API|Game_Data] Page:4 >> Record Ct:4000
2024-04-18 00:32:52.046950 [API|Game_Data] Page:5 >> Record Ct:5000
2024-04-18 00:32:55.243080 [API|Game_Data] Page:6 >> Record Ct:6000
2024-04-18 00:32:58.320520 [API|Game_Data] Page:7 >> Record Ct:7000
2024-04-18 00:33:01.630737 [API|Game_Data] Page:8 >> Record Ct:8000
2024-04-18 00:33:05.636647 [API|Game_Data] Page:9 >> Record Ct:9000
2024-04-18 00:33:09.032596 [API|Game_Data] Page:10 >> Record Ct:10000
2024-04-18 00:33:12.330225 [API|Game_Data] Page:11 >> Record Ct:11000
2024-04-18 00:33:15.817431 [API|Game_Data] Page:12 >> Record Ct:12000
2024-04-18 00:33:19.224811 [API|Game_Data] Page:13 >> Record Ct:13000
2024-04-18 00:33:22.572990 [API|Game_Data] Page:14 >> Record Ct:14000
2024-04-18 00:33:25.972589 [API|Game_Data] Page:15 >> Record Ct:15000
2024-04-18 00:33:29.086615 [API|Game_Data] Page:16 >> Record Ct:16000
2024-04-18 00:33:32.343363 [API|Game_Data] Page:17 >> Record Ct:17000
2024-04-18 00:33:35.587933 [API|Game_Data] Page:18 >> Record Ct:18000
2024-04-18 00:33:39.095295 [API|Game_Data] Page:19 >> Record Ct:19000
2024-04-18 00:33:42.450212 [API|Game_Data] Page:20 >> Record Ct:20000
2024-04-18 00:33:46.051797 [API|Game_Data] Page:21 >> Record Ct:21000
2024-04-18 00:33:49.402424 [API|Game_Data] Page:22 >> Record Ct:22000
2024-04-18 00:33:52.514016 [API|Game_Data] Page:23 >> Record Ct:23000
2024-04-18 00:33:55.960635 [API|Game_Data] Page:24 >> Record Ct:24000
2024-04-18 00:33:59.495525 [API|Game_Data] Page:25 >> Record Ct:25000
2024-04-18 00:34:02.718475 [API|Game_Data] Page:26 >> Record Ct:26000
2024-04-18 00:34:04.693907 [API|Game_Data] Page:27 >> Record Ct:26095
2024-04-18 00:34:06.207849 [API|Game_Data] Completed >> Records:             ID            Player Player_ID PlayerNo Position Starter  \
0      12097683      Jimmy Butler       549       22       SF       Y
1      12097684       Bam Adebayo    329842       13        C       Y
2      12097685      Caleb Martin   1683114       16       SG       Y
3      12097686       Tyler Herro   1686200       14       PG       Y
4      12097687      Nikola Jovic  47267134        5       PF       Y
...         ...               ...       ...      ...      ...     ...
26090  12001374    Gary Payton II    124084        8      NaN       N
26091  12001375  Jonathan Kuminga  40722925       00      NaN       N
26092  12001376       Dario Saric    119797       20      NaN       N
26093  12001377       Moses Moody  40722926        4      NaN       N
26094  12001378       Cory Joseph      2037        9      NaN       N

                                                    game  \
0      {'Game_ID': '1079175', 'GameDay': '2024-04-17'...
1      {'Game_ID': '1079175', 'GameDay': '2024-04-17'...
2      {'Game_ID': '1079175', 'GameDay': '2024-04-17'...
3      {'Game_ID': '1079175', 'GameDay': '2024-04-17'...
4      {'Game_ID': '1079175', 'GameDay': '2024-04-17'...
...                                                  ...
26090  {'Game_ID': '1077535', 'GameDay': '2023-10-24'...
26091  {'Game_ID': '1077535', 'GameDay': '2023-10-24'...
26092  {'Game_ID': '1077535', 'GameDay': '2023-10-24'...
26093  {'Game_ID': '1077535', 'GameDay': '2023-10-24'...
26094  {'Game_ID': '1077535', 'GameDay': '2023-10-24'...

                                                team  \
0                      {'ID': '16', 'Team': 'Miami'}
1                      {'ID': '16', 'Team': 'Miami'}
2                      {'ID': '16', 'Team': 'Miami'}
3                      {'ID': '16', 'Team': 'Miami'}
4                      {'ID': '16', 'Team': 'Miami'}
...                                              ...
26090  {'ID': '25', 'Team': 'Golden State Warriors'}
26091  {'ID': '25', 'Team': 'Golden State Warriors'}
26092  {'ID': '25', 'Team': 'Golden State Warriors'}
26093  {'ID': '25', 'Team': 'Golden State Warriors'}
26094  {'ID': '25', 'Team': 'Golden State Warriors'}

                                       opponent MIN  ... BLK OREB TO PF  \
0      {'ID': '28', 'Opponent': 'Philadelphia'}  39  ...   1    2  0  2
1      {'ID': '28', 'Opponent': 'Philadelphia'}  30  ...   1    4  2  3
2      {'ID': '28', 'Opponent': 'Philadelphia'}  24  ...   1    2  0  1
3      {'ID': '28', 'Opponent': 'Philadelphia'}  40  ...   5    0  0  1
4      {'ID': '28', 'Opponent': 'Philadelphia'}  14  ...   1    0  0  2
...                                         ...  ..  ...  ..  ... .. ..
26090  {'ID': '14', 'Opponent': 'Phoenix Suns'}  21  ...   0    0  0  1
26091  {'ID': '14', 'Opponent': 'Phoenix Suns'}  20  ...   1    2  2  5
26092  {'ID': '14', 'Opponent': 'Phoenix Suns'}  20  ...   3    4  0  3
26093  {'ID': '14', 'Opponent': 'Phoenix Suns'}  17  ...   1    1  1  1
26094  {'ID': '14', 'Opponent': 'Phoenix Suns'}   3  ...   0    1  0  0

      PerfScore PerfScoreSeasonAvg           Statline PerfScoreSeasonAvgDev  \
0        [9, 9]               9.89   39m 19p 4r 5a 1b                   NaN
1        [8, 8]              11.11  30m 10p 12r 1a 1b                   NaN
2        [3, 3]               4.72    24m 5p 5r 1a 1b                   NaN
3        [9, 9]               8.77   40m 25p 2r 9a 5b                  0.23
4        [4, 4]               4.28       14m 5p 5r 1b                   NaN
...         ...                ...                ...                   ...
26090    [1, 1]               2.82       21m 1p 2r 2a                   NaN
26091    [6, 6]               7.12      20m 12p 5r 1b                   NaN
26092    [4, 4]               4.53    20m 7p 7r 1a 3b                   NaN
26093    [6, 6]               3.45      17m 11p 3r 1b                  2.55
26094         0               1.23           3m 1r 1a                   NaN

      PresenceRate AdjPresenceRate
0              NaN             NaN
1              NaN             NaN
2              NaN             NaN
3              NaN             NaN
4             5.45            5.37
...            ...             ...
26090          NaN             NaN
26091          NaN             NaN
26092          NaN             NaN
26093          NaN             NaN
26094          NaN             NaN

[26095 rows x 30 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26095 entries, 0 to 26094
Data columns (total 30 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ID                     26095 non-null  object
 1   Player                 26095 non-null  object
 2   Player_ID              26095 non-null  object
 3   PlayerNo               24880 non-null  object
 4   Position               22165 non-null  object
 5   Starter                26095 non-null  object
 6   game                   26095 non-null  object
 7   team                   26095 non-null  object
 8   opponent               26095 non-null  object
 9   MIN                    26095 non-null  object
 10  PTS                    26095 non-null  object
 11  FGM                    26095 non-null  object
 12  FGA                    26095 non-null  object
 13  ThreeFM                26095 non-null  object
 14  ThreeFA                26095 non-null  object
 15  FTM                    26095 non-null  object
 16  FTA                    26095 non-null  object
 17  REB                    26095 non-null  object
 18  AST                    26095 non-null  object
 19  STL                    26095 non-null  object
 20  BLK                    26095 non-null  object
 21  OREB                   26095 non-null  object
 22  TO                     26095 non-null  object
 23  PF                     26095 non-null  object
 24  PerfScore              26095 non-null  object
 25  PerfScoreSeasonAvg     26037 non-null  object
 26  Statline               26095 non-null  object
 27  PerfScoreSeasonAvgDev  11803 non-null  object
 28  PresenceRate           18009 non-null  object
 29  AdjPresenceRate        18006 non-null  object
dtypes: object(30)
memory usage: 6.0+ MB

In [ ]:
# Pagination Required to Extract All Game Data
qry = f'{URL}playerperfs/NBA/?key={KEY}&season=2024&max=1000&page=25'
data = get(qry).json()
data.keys()

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26095 entries, 0 to 26094
Data columns (total 30 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ID                     26095 non-null  object
 1   Player                 26095 non-null  object
 2   Player_ID              26095 non-null  object
 3   PlayerNo               24880 non-null  object
 4   Position               22165 non-null  object
 5   Starter                26095 non-null  object
 6   game                   26095 non-null  object
 7   team                   26095 non-null  object
 8   opponent               26095 non-null  object
 9   MIN                    26095 non-null  object
 10  PTS                    26095 non-null  object
 11  FGM                    26095 non-null  object
 12  FGA                    26095 non-null  object
 13  ThreeFM                26095 non-null  object
 14  ThreeFA                26095 non-null  object
 15  FTM                    26095 non-null  object
 16  FTA                    26095 non-null  object
 17  REB                    26095 non-null  object
 18  AST                    26095 non-null  object
 19  STL                    26095 non-null  object
 20  BLK                    26095 non-null  object
 21  OREB                   26095 non-null  object
 22  TO                     26095 non-null  object
 23  PF                     26095 non-null  object
 24  PerfScore              26095 non-null  object
 25  PerfScoreSeasonAvg     26037 non-null  object
 26  Statline               26095 non-null  object
 27  PerfScoreSeasonAvgDev  11803 non-null  object
 28  PresenceRate           18009 non-null  object
 29  AdjPresenceRate        18006 non-null  object
dtypes: object(30)
memory usage: 6.0+ MB

In [5]:
df.head()

,ID,Player,Player_ID,PlayerNo,Position,Starter,game,team,opponent,MIN,...,BLK,OREB,TO,PF,PerfScore,PerfScoreSeasonAvg,Statline,PerfScoreSeasonAvgDev,PresenceRate,AdjPresenceRate
0,12097683,Jimmy Butler,549,22,SF,Y,"{'Game_ID': '1079175', 'GameDay': '2024-04-17'...","{'ID': '16', 'Team': 'Miami'}","{'ID': '28', 'Opponent': 'Philadelphia'}",39,...,1,2,0,2,"[9, 9]",9.89,39m 19p 4r 5a 1b,NaN,NaN,NaN
1,12097684,Bam Adebayo,329842,13,C,Y,"{'Game_ID': '1079175', 'GameDay': '2024-04-17'...","{'ID': '16', 'Team': 'Miami'}","{'ID': '28', 'Opponent': 'Philadelphia'}",30,...,1,4,2,3,"[8, 8]",11.11,30m 10p 12r 1a 1b,NaN,NaN,NaN
2,12097685,Caleb Martin,1683114,16,SG,Y,"{'Game_ID': '1079175', 'GameDay': '2024-04-17'...","{'ID': '16', 'Team': 'Miami'}","{'ID': '28', 'Opponent': 'Philadelphia'}",24,...,1,2,0,1,"[3, 3]",4.72,24m 5p 5r 1a 1b,NaN,NaN,NaN
3,12097686,Tyler Herro,1686200,14,PG,Y,"{'Game_ID': '1079175', 'GameDay': '2024-04-17'...","{'ID': '16', 'Team': 'Miami'}","{'ID': '28', 'Opponent': 'Philadelphia'}",40,...,5,0,0,1,"[9, 9]",8.77,40m 25p 2r 9a 5b,0.23,NaN,NaN
4,12097687,Nikola Jovic,47267134,5,PF,Y,"{'Game_ID': '1079175', 'GameDay': '2024-04-17'...","{'ID': '16', 'Team': 'Miami'}","{'ID': '28', 'Opponent': 'Philadelphia'}",14,...,1,0,0,2,"[4, 4]",4.28,14m 5p 5r 1b,NaN,5.45,5.37

In [ ]:
qry = f'{URL}playerperfs/NBA/?key={KEY}&season=2024&max=1000&page=1'
data = get(qry).json()
data.keys()

In [ ]:
print(dumps(data['performances'], indent=4))

In [ ]:
print(*data['performances'].values(), sep='\n')

In [ ]:
df = DataFrame(data['performances'].values())

In [ ]:
df.head()

In [ ]:
df.info()

In [6]:
df.iloc[0]

ID                                                                12097683
Player                                                        Jimmy Butler
Player_ID                                                              549
PlayerNo                                                                22
Position                                                                SF
Starter                                                                  Y
game                     {'Game_ID': '1079175', 'GameDay': '2024-04-17'...
team                                         {'ID': '16', 'Team': 'Miami'}
opponent                          {'ID': '28', 'Opponent': 'Philadelphia'}
MIN                                                                     39
PTS                                                                     19
FGM                                                                      5
FGA                                                                     18
ThreeFM                                                                  2
ThreeFA                                                                  6
FTM                                                                      7
FTA                                                                      8
REB                                                                      4
AST                                                                      5
STL                                                                      5
BLK                                                                      1
OREB                                                                     2
TO                                                                       0
PF                                                                       2
PerfScore                                                           [9, 9]
PerfScoreSeasonAvg                                                    9.89
Statline                                                  39m 19p 4r 5a 1b
PerfScoreSeasonAvgDev                                                  NaN
PresenceRate                                                           NaN
AdjPresenceRate                                                        NaN
Name: 0, dtype: object

In [7]:
df.iloc[0]['game']

{'Game_ID': '1079175',
 'GameDay': '2024-04-17',
 'Description': 'Miami at Philadelphia',
 'Visitor': 'Miami',
 'Home': 'Philadelphia',
 'Loc': 'V',
 'WinOrLoss': 'L',
 'Result': 'L, 104-105',
 'venue': {'ID': '394452',
  'Name': 'Wells Fargo Center',
  'CityState': 'Philadelphia, PA',
  'Longitude': '-75.172023',
  'Latitude': '39.901358'}}

In [8]:
# Add Columns: Game_ID, Game_Day, Team_ID, Team_Name

df['Game_ID'] = df['game'].apply(lambda x: x['Game_ID'].strip())
df['Team_ID'] = df['team'].apply(lambda x: x['ID'].strip())
df['Opponent_ID'] = df['opponent'].apply(lambda x: x['ID'].strip())
df['WinOrLoss'] = df['game'].apply(lambda x: x['WinOrLoss'].strip())

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26095 entries, 0 to 26094
Data columns (total 34 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ID                     26095 non-null  object
 1   Player                 26095 non-null  object
 2   Player_ID              26095 non-null  object
 3   PlayerNo               24880 non-null  object
 4   Position               22165 non-null  object
 5   Starter                26095 non-null  object
 6   game                   26095 non-null  object
 7   team                   26095 non-null  object
 8   opponent               26095 non-null  object
 9   MIN                    26095 non-null  object
 10  PTS                    26095 non-null  object
 11  FGM                    26095 non-null  object
 12  FGA                    26095 non-null  object
 13  ThreeFM                26095 non-null  object
 14  ThreeFA                26095 non-null  object
 15  FTM                    26095 non-null  object
 16  FTA                    26095 non-null  object
 17  REB                    26095 non-null  object
 18  AST                    26095 non-null  object
 19  STL                    26095 non-null  object
 20  BLK                    26095 non-null  object
 21  OREB                   26095 non-null  object
 22  TO                     26095 non-null  object
 23  PF                     26095 non-null  object
 24  PerfScore              26095 non-null  object
 25  PerfScoreSeasonAvg     26037 non-null  object
 26  Statline               26095 non-null  object
 27  PerfScoreSeasonAvgDev  11803 non-null  object
 28  PresenceRate           18009 non-null  object
 29  AdjPresenceRate        18006 non-null  object
 30  Game_ID                26095 non-null  object
 31  Team_ID                26095 non-null  object
 32  Opponent_ID            26095 non-null  object
 33  WinOrLoss              26095 non-null  object
dtypes: object(34)
memory usage: 6.8+ MB

In [10]:
df.loc[df['Player_ID']=='1443'][
    [
    'ID',
    'Player',
    'Player_ID',
    'Team_ID',
    'Game_ID',
    'Opponent_ID',
    'Statline',
    'PerfScore',
    'PerfScoreSeasonAvg',
    'PerfScoreSeasonAvgDev',
    'PresenceRate',
    'WinOrLoss'
    ]
]

,ID,Player,Player_ID,Team_ID,Game_ID,Opponent_ID,Statline,PerfScore,PerfScoreSeasonAvg,PerfScoreSeasonAvgDev,PresenceRate,WinOrLoss
410,12097625,Jeff Green,1443,1,1077653,11,12m 7p 2r 1b,"[2, 2]",2.71,NaN,NaN,W
695,12097246,Jeff Green,1443,1,1077652,4,16m 7p 3r 4a,"[4, 4]",2.71,1.29,NaN,W
796,12096943,Jeff Green,1443,1,1077651,26,22m 13p 6r,"[6, 6]",2.71,3.29,NaN,L
1217,12096563,Jeff Green,1443,1,1077650,13,16m 6p 2r 2a 1b,"[3, 3]",2.71,0.29,NaN,W
1438,12096176,Jeff Green,1443,1,1077403,23,17m 7p 1r 1a,"[1, 1]",2.71,NaN,NaN,L
...,...,...,...,...,...,...,...,...,...,...,...,...
24374,12062945,Jeff Green,1443,1,1077600,15,5m 1p 5r,"[2, 2]",2.71,NaN,NaN,W
24862,12060314,Jeff Green,1443,1,1077133,3,12m 9p 2r,"[3, 3]",2.71,0.29,NaN,W
25330,12054630,Jeff Green,1443,1,1077537,25,21m 6p 3r 2a 1b,"[2, 2]",2.71,NaN,NaN,L
25690,12045025,Jeff Green,1443,1,1077599,17,20m 10p 1r 1a,"[4, 4]",2.71,1.29,NaN,L
26008,12042909,Jeff Green,1443,1,1077598,13,13m 4p 3r 1a,"[2, 2]",2.71,NaN,NaN,L

In [11]:
df['game']

0        {'Game_ID': '1079175', 'GameDay': '2024-04-17'...
1        {'Game_ID': '1079175', 'GameDay': '2024-04-17'...
2        {'Game_ID': '1079175', 'GameDay': '2024-04-17'...
3        {'Game_ID': '1079175', 'GameDay': '2024-04-17'...
4        {'Game_ID': '1079175', 'GameDay': '2024-04-17'...
                               ...
26090    {'Game_ID': '1077535', 'GameDay': '2023-10-24'...
26091    {'Game_ID': '1077535', 'GameDay': '2023-10-24'...
26092    {'Game_ID': '1077535', 'GameDay': '2023-10-24'...
26093    {'Game_ID': '1077535', 'GameDay': '2023-10-24'...
26094    {'Game_ID': '1077535', 'GameDay': '2023-10-24'...
Name: game, Length: 26095, dtype: object

In [12]:
# Create Data Frame: Game Info
game_df = DataFrame(list(df['game']))

In [13]:
game_df.head()

,Game_ID,GameDay,Description,Visitor,Home,Loc,WinOrLoss,Result,venue
0,1079175,2024-04-17,Miami at Philadelphia,Miami,Philadelphia,V,L,"L, 104-105","{'ID': '394452', 'Name': 'Wells Fargo Center',..."
1,1079175,2024-04-17,Miami at Philadelphia,Miami,Philadelphia,V,L,"L, 104-105","{'ID': '394452', 'Name': 'Wells Fargo Center',..."
2,1079175,2024-04-17,Miami at Philadelphia,Miami,Philadelphia,V,L,"L, 104-105","{'ID': '394452', 'Name': 'Wells Fargo Center',..."
3,1079175,2024-04-17,Miami at Philadelphia,Miami,Philadelphia,V,L,"L, 104-105","{'ID': '394452', 'Name': 'Wells Fargo Center',..."
4,1079175,2024-04-17,Miami at Philadelphia,Miami,Philadelphia,V,L,"L, 104-105","{'ID': '394452', 'Name': 'Wells Fargo Center',..."

In [14]:
game_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26095 entries, 0 to 26094
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Game_ID      26095 non-null  object
 1   GameDay      26095 non-null  object
 2   Description  26095 non-null  object
 3   Visitor      26095 non-null  object
 4   Home         26095 non-null  object
 5   Loc          26095 non-null  object
 6   WinOrLoss    26095 non-null  object
 7   Result       26095 non-null  object
 8   venue        26095 non-null  object
dtypes: object(9)
memory usage: 1.8+ MB

In [15]:
game_df['venue']

0        {'ID': '394452', 'Name': 'Wells Fargo Center',...
1        {'ID': '394452', 'Name': 'Wells Fargo Center',...
2        {'ID': '394452', 'Name': 'Wells Fargo Center',...
3        {'ID': '394452', 'Name': 'Wells Fargo Center',...
4        {'ID': '394452', 'Name': 'Wells Fargo Center',...
                               ...
26090    {'ID': '15125', 'Name': 'Chase Center', 'CityS...
26091    {'ID': '15125', 'Name': 'Chase Center', 'CityS...
26092    {'ID': '15125', 'Name': 'Chase Center', 'CityS...
26093    {'ID': '15125', 'Name': 'Chase Center', 'CityS...
26094    {'ID': '15125', 'Name': 'Chase Center', 'CityS...
Name: venue, Length: 26095, dtype: object

In [16]:
game_df['Away_Pts']= game_df['Result'].apply(lambda x: x \
    .split(',')[1]
    .split('-')[0]
    .strip()
)
game_df['Home_Pts']= game_df['Result'].apply(lambda x: x \
    .split(',')[1]
    .split('-')[1]
    .strip()
)

In [17]:
game_df['Venue_ID'] = game_df['venue'].apply(lambda x: x['ID'].strip())
game_df['Venue_Name'] = game_df['venue'].apply(lambda x: x['Name'].strip())
game_df['Venue_City'] = game_df['venue'].apply(lambda x: x['CityState'].strip().split(',')[0])
game_df['Venue_State'] = game_df['venue'].apply(lambda x: x['CityState'].strip().split(',')[1])

IndexError: list index out of range

In [18]:
venue_df = DataFrame(list(game_df['venue']))
venue_df.head()

       ID                Name         CityState   Longitude   Latitude
0  394452  Wells Fargo Center  Philadelphia, PA  -75.172023  39.901358
1  394452  Wells Fargo Center  Philadelphia, PA  -75.172023  39.901358
2  394452  Wells Fargo Center  Philadelphia, PA  -75.172023  39.901358
3  394452  Wells Fargo Center  Philadelphia, PA  -75.172023  39.901358
4  394452  Wells Fargo Center  Philadelphia, PA  -75.172023  39.901358

In [19]:
venue_df.drop_duplicates(keep='first', inplace=True)

In [20]:
venue_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 35 entries, 0 to 23533
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   ID         35 non-null     object
 1   Name       35 non-null     object
 2   CityState  35 non-null     object
 3   Longitude  35 non-null     object
 4   Latitude   35 non-null     object
dtypes: object(5)
memory usage: 1.6+ KB

In [21]:
venue_df

,ID,Name,CityState,Longitude,Latitude
0,394452,Wells Fargo Center,"Philadelphia, PA",-75.172023,39.901358
10,480,United Center,"Chicago, IL",-87.674290,41.880700
36,446,Smoothie King Center,"New Orleans, LA",-90.082160,29.948910
46,1501,Golden 1 Center,"Sacramento, CA",-121.525154,38.525231
79,255,Kaseya Center,"Miami, FL",-80.187950,25.781430
81,258,Kia Center,"Orlando, FL",-81.386750,28.548770
101,458,Target Center,"Minneapolis, MN",-93.276190,44.979460
111,326,FedExForum,"Memphis, TN",-90.050280,35.138110
131,297,Paycom Center,"Oklahoma City, OK",-97.514900,35.463500
141,501,Frost Bank Center,"San Antonio, TX",-98.437320,29.427020
151,15125,Chase Center,"San Francisco, CA",-122.387125,37.770372
161,450,Crypto.com Arena,"Los Angeles, CA",-118.267280,34.043150
171,490,Wells Fargo Center (Philly),"Philadelphia, PA",-75.171930,39.901190
181,460,TD Garden,"Boston, MA",-71.062390,42.365340
191,424,Rocket Mortgage FieldHouse,"Cleveland, OH",-81.688380,41.496700
201,264,Gainsbridge Fieldhouse,"Indianapolis, IN",-86.155780,39.763900
211,384,Madison Square Garden,"New York, NY",-73.993510,40.750440
420,486,Capital One Arena,"Washington, DC",-77.021060,38.898130
520,256,American Airlines Center,"Dallas, TX",-96.810090,32.790530
540,404,Moda Center,"Portland, OR",-122.666810,45.531500
725,322,Delta Center,"Salt Lake City, UT",-111.901150,40.768180
755,4164,Little Caesars Arena,"Detroit, MI",-83.054911,42.341172
844,266,Barclays Center,"Brooklyn, NY",-73.976280,40.683320
854,420,State Farm Arena,"Atlanta, GA",-84.396360,33.757230
874,7407,Fiserv Forum,"Milwaukee, WI",-87.918167,43.045028
894,417,Ball Arena,"Denver, CO",-105.007420,39.748770
1003,250,Scotiabank Arena,"Toronto, ON",-79.379140,43.643300
1053,475,Toyota Center,"Houston, TX",-95.362110,29.750580
1113,457,Footprint Center,"Phoenix, AZ",-112.071210,33.445900
1133,471,Spectrum Center,"Charlotte, NC",-80.839200,35.225140
14116,202070,Accor Arena,Paris,2.378600,48.838500
18528,394450,crypto.com Arena,"Los Angeles, CA",-118.456698,34.031396
18588,394453,FTX Arena,"Miami, FL",15.932590,-0.519281
19544,1507,T-Mobile Arena,"Las Vegas, NV",-115.178333,36.102778
23533,890,Palacio de los Deportes,"Mexico City, MX",-99.099862,19.405344

In [22]:
venue_df['City'] = venue_df['CityState'].apply(lambda x: x.split(',')[0].strip())
venue_df['State'] = venue_df['CityState'].apply(lambda x: x.split(',')[1].strip())
venue_df.drop(columns=['CityState'], inplace=True)

IndexError: list index out of range

In [ ]:
venue_df

In [ ]:
game_df = game_df.astype(
    {
        'Game_ID': str,
        'Venue_ID': str,
        'Away_Pts': int,
        'Home_Pts': int,   
    }
)

In [ ]:
df = df.astype(
    {
        'Player_ID': str,
        'Team_ID': str,
        'Game_ID': str,
        'Opponent_ID': str,
        'MIN': int,
        'PTS': int,
        'FGM': int,
        'FGA': int,
        'ThreeFM': int,
        'ThreeFA': int,
        'FTM': int,
        'FTA': int,
        'REB': int,
        'AST': int,
        'STL': int,
        'BLK': int,
        'OREB': int,
        'TO': int,
        'PF': int
    }
)

In [ ]:
game_df.drop(columns=['venue'], inplace=True)

In [ ]:
game_df = game_df.drop_duplicates(keep='first')

In [ ]:
game_df = game_df.rename(columns=
    {   
    'Description': 'Game_Description',
    'Visitor': 'Team_Home',
    'Home': 'Team_Away',
    'GameDay': 'Game_Date',
    'Away_Pts': 'Pts_Away',
    'Home_Pts': 'Pts_Home'
    }
)

In [ ]:
game_df

In [ ]:
game_df.loc[game_df['Team_Away'] == 'Atlanta Hawks']

In [ ]:
df.drop(columns=['team', 'game',  'opponent'], inplace=True)

In [ ]:
fullgame_df = merge(left=df, right=game_df, on=['Game_ID', 'WinOrLoss'], how='inner')

In [ ]:
fullgame_df.head()

In [ ]:
fullgame_df.info()

In [ ]:
fullgame_df

In [ ]:
print(*fullgame_df.columns, sep='\n')

In [ ]:
fullgame_df = fullgame_df[[
    'ID',
    'Game_ID',
    'Game_Date',
    'Game_Description',
    'Player_ID',
    'Player',
    'PlayerNo',
    'Position',
    'Starter',
    'Team_ID',
    'Team_Home',
    'Team_Away',
    'Loc',
    'Venue_ID',
    'Venue_Name',
    'Venue_City',
    'Venue_State',
    'Statline',
    'WinOrLoss',
    'MIN',
    'PTS',
    'FGM',
    'FGA',
    'ThreeFM',
    'ThreeFA',
    'FTM',
    'FTA',
    'REB',
    'OREB',
    'TO',
    'PF',
    'PerfScore',
    'PerfScoreSeasonAvg',
    'PerfScoreSeasonAvgDev',
    'PresenceRate',
    'AdjPresenceRate'
]]

In [ ]:
fullgame_df

In [ ]:
fullgame_df.loc[fullgame_df['Player'] == 'Shake Milton'][
    [
        'Game_ID',
        'Game_Date',
        'Game_Description',
        'Player',
        'Position',
        'PlayerNo',
        'Starter',
        'Statline',
        'WinOrLoss',
        'Loc',
        'Venue_Name'
    ]
]